body {
    background-color: #01050c;
}
.heading {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35px;
}
.heading-1 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35px;
    text-align: center;
}
.featured {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 10%;
}
.article-heading {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}
.home-image {
    height: 62.5vw;
    max-height: 75vh;
    min-height: 200px;
    position: static;
    margin-left: 10%;
    width: 90%;
}
.article-date {
    color: #77e4ff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.home-article-content {
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    font-weight: bold;
}
.article-image {
    width: 100%;
}
a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #959595;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-right: 35px;
    margin-left: 10%;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: block;
    margin : 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 25%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgba(255, 255, 255, 0.84);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid #313131;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
}


.button {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  padding: 0 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}

.button:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}

.button:active {
  outline: 0;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
  .button {
    height: 48px;
  }
}

.header{
    color:#ffffff;
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
}
.truecaller_date{
    color:#ffffff;
    font-family: sans-serif;
    font-size: 3mm;
    margin-left: 9cm;
}
.heading-2{
    color:#ffffff;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.centre{
    margin-left:12cm;
    
}
.a-text{
    color:#ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 9cm;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }